.App {
  min-height: 100vh;

  $headerHeight: 70px;
  $gap: 10px;

  .AppHeader {
    height: $headerHeight;
    padding: $gap 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    .Search {
      display: inline-block;
    }
    border-bottom: 1px solid #eee;
  }

  .AppMain {
  width: 100vw;
  min-width: 1000px;
  min-height: calc(100vh - #{$headerHeight});
  display: flex;

    .SidePanel {
      width: 20%;
      max-width: 400px;
      min-width: 340px;
      border-right: 1px solid #eee;
      box-sizing: border-box;
      padding: $gap;
    }
    .MainPanel {
      width: 80%;
      box-sizing: border-box;
      padding: $gap;
      overflow: hidden;
    }

  }
}
